.text-small {
    font-size: 0.9rem !important;
}

.header {
    background-color: #00d2ff;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
    max-height: 250px;
}

.section-1 {
    background: #f5f5f5;
}

.bank-logo {
	height: 50px;
}
